<a href="https://colab.research.google.com/github/FernandoRodriguesDeSantana/sql_alchemy_learning/blob/main/sql_alchemy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## *Biblioteca*

In [71]:
import sqlalchemy
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker

## *Criando Arquivo DataBase*

In [72]:
engine = sqlalchemy.create_engine('sqlite:///enterprise.db', echo = True)
#enterprise.db foi criado neste instante

In [73]:
Base = declarative_base()

## **Criando uma tabela**

In [74]:
class User(Base):
  __tablename__ = 'users'
  #__tablename__ é obrigatório
  id = Column(Integer, primary_key=True)
  #id = Column é obrigatório
  name = Column(String(50))
  fullname = Column(String(50))
  age = Column(Integer)

  def __repr__(self):
    return "<User(name={}, fullname={}, age{})>".format(self.name, self.fullname, self.age)

In [75]:
Base.metadata.create_all(engine)

2023-07-25 01:37:11,831 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-07-25 01:37:11,836 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("users")

2023-07-25 01:37:11,840 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-07-25 01:37:11,843 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

## **Inserção de Dados**

### **Adicionando User Individual**

In [76]:
user = User(name='Fernando', fullname='Fernando Rodrigues de Santana', age=20)

In [77]:
type(user)

__main__.User

In [78]:
user.name

'Fernando'

In [79]:
user.fullname

'Fernando Rodrigues de Santana'

In [80]:
user.age

20

In [81]:
Session = sessionmaker(bind=engine)

In [82]:
Session

sessionmaker(class_='Session', bind=Engine(sqlite:///enterprise.db), autoflush=True, expire_on_commit=True)

In [83]:
session = Session()

In [84]:
session.add(user)

In [85]:
session.commit()

2023-07-25 01:37:11,954 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-07-25 01:37:11,961 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?)

2023-07-25 01:37:11,966 INFO sqlalchemy.engine.Engine [generated in 0.00502s] ('Fernando', 'Fernando Rodrigues de Santana', 20)

INFO:sqlalchemy.engine.Engine:[generated in 0.00502s] ('Fernando', 'Fernando Rodrigues de Santana', 20)

2023-07-25 01:37:11,969 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

### **Adicionando uma lista de Users**

In [86]:
session.add_all([
    User(name='Jair', fullname='Jair Messias Bolsonaro', age=22),
    User(name='Luiz', fullname='Luiz Inácio Lula da Silva', age=13),
    User(name='Cabo', fullname='Cabo Daociolo', age=45),
    User(name='Luciano', fullname='Hang Véio da Havan', age=22),
    User(name='Kim', fullname='Kim Kataguiri', age=24)
])

In [87]:
session.new

IdentitySet([<User(name=Jair, fullname=Jair Messias Bolsonaro, age22)>, <User(name=Luiz, fullname=Luiz Inácio Lula da Silva, age13)>, <User(name=Cabo, fullname=Cabo Daociolo, age45)>, <User(name=Luciano, fullname=Hang Véio da Havan, age22)>, <User(name=Kim, fullname=Kim Kataguiri, age24)>])

In [88]:
session.commit()

2023-07-25 01:37:12,014 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-07-25 01:37:12,019 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-07-25 01:37:12,021 INFO sqlalchemy.engine.Engine [generated in 0.00022s (insertmanyvalues) 1/5 (ordered; batch not supported)] ('Jair', 'Jair Messias Bolsonaro', 22)

INFO:sqlalchemy.engine.Engine:[generated in 0.00022s (insertmanyvalues) 1/5 (ordered; batch not supported)] ('Jair', 'Jair Messias Bolsonaro', 22)

2023-07-25 01:37:12,026 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-07-25 01:37:12,028 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/5 (ordered; batch not supported)] ('Luiz', 'Luiz Inácio Lula da Silva', 13)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/5 (ordered; batch not supported)] ('Luiz', 'Luiz Inácio Lula da Silva', 13)

2023-07-25 01:37:12,031 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-07-25 01:37:12,033 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/5 (ordered; batch not supported)] ('Cabo', 'Cabo Daociolo', 45)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/5 (ordered; batch not supported)] ('Cabo', 'Cabo Daociolo', 45)

2023-07-25 01:37:12,046 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-07-25 01:37:12,051 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/5 (ordered; batch not supported)] ('Luciano', 'Hang Véio da Havan', 22)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 4/5 (ordered; batch not supported)] ('Luciano', 'Hang Véio da Havan', 22)

2023-07-25 01:37:12,056 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-07-25 01:37:12,062 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/5 (ordered; batch not supported)] ('Kim', 'Kim Kataguiri', 24)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 5/5 (ordered; batch not supported)] ('Kim', 'Kim Kataguiri', 24)

2023-07-25 01:37:12,066 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT