<a href="https://colab.research.google.com/github/FernandoRodriguesDeSantana/sql_alchemy_learning/blob/main/sql_alchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Biblioteca**

In [159]:
import sqlalchemy
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker

## **Criando Arquivo DataBase**

In [160]:
engine = sqlalchemy.create_engine('sqlite:///enterprise.db', echo = True)
#enterprise.db foi criado neste instante

In [161]:
Base = declarative_base()

## **Criando uma tabela**

In [162]:
class User(Base):
  __tablename__ = 'users'
  #__tablename__ é obrigatório
  id = Column(Integer, primary_key=True)
  #id = Column é obrigatório
  name = Column(String(50))
  fullname = Column(String(50))
  age = Column(Integer)

  def __repr__(self):
    return "<User(name={}, fullname={}, age{})>".format(self.name, self.fullname, self.age)

In [163]:
Base.metadata.create_all(engine)

2023-07-25 02:13:19,483 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-07-25 02:13:19,488 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("users")

2023-07-25 02:13:19,492 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-07-25 02:13:19,496 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

## **Inserção de Dados**

### **Adicionando User Individual**

In [164]:
user = User(name='Fernando', fullname='Fernando Rodrigues de Santana', age=20)

In [165]:
type(user)

__main__.User

In [166]:
user.name

'Fernando'

In [167]:
user.fullname

'Fernando Rodrigues de Santana'

In [168]:
user.age

20

In [169]:
Session = sessionmaker(bind=engine)

In [170]:
Session

sessionmaker(class_='Session', bind=Engine(sqlite:///enterprise.db), autoflush=True, expire_on_commit=True)

In [171]:
session = Session()

In [172]:
session.add(user)

In [173]:
session.commit()

2023-07-25 02:13:19,627 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-07-25 02:13:19,636 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?)

2023-07-25 02:13:19,641 INFO sqlalchemy.engine.Engine [generated in 0.00492s] ('Fernando', 'Fernando Rodrigues de Santana', 20)

INFO:sqlalchemy.engine.Engine:[generated in 0.00492s] ('Fernando', 'Fernando Rodrigues de Santana', 20)

2023-07-25 02:13:19,647 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

### **Adicionando uma lista de Users**

In [174]:
session.add_all([
    User(name='Jair', fullname='Jair Messias Bolsonaro', age=22),
    User(name='Luiz', fullname='Luiz Inácio Lula da Silva', age=13),
    User(name='Cabo', fullname='Cabo Daociolo', age=45),
    User(name='Luciano', fullname='Hang Véio da Havan', age=22),
    User(name='Kim', fullname='Kim Kataguiri', age=24)
])

In [175]:
session.new

IdentitySet([<User(name=Jair, fullname=Jair Messias Bolsonaro, age22)>, <User(name=Luiz, fullname=Luiz Inácio Lula da Silva, age13)>, <User(name=Cabo, fullname=Cabo Daociolo, age45)>, <User(name=Luciano, fullname=Hang Véio da Havan, age22)>, <User(name=Kim, fullname=Kim Kataguiri, age24)>])

In [176]:
session.commit()

2023-07-25 02:13:19,694 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-07-25 02:13:19,702 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-07-25 02:13:19,705 INFO sqlalchemy.engine.Engine [generated in 0.00024s (insertmanyvalues) 1/5 (ordered; batch not supported)] ('Jair', 'Jair Messias Bolsonaro', 22)

INFO:sqlalchemy.engine.Engine:[generated in 0.00024s (insertmanyvalues) 1/5 (ordered; batch not supported)] ('Jair', 'Jair Messias Bolsonaro', 22)

2023-07-25 02:13:19,708 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-07-25 02:13:19,710 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/5 (ordered; batch not supported)] ('Luiz', 'Luiz Inácio Lula da Silva', 13)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/5 (ordered; batch not supported)] ('Luiz', 'Luiz Inácio Lula da Silva', 13)

2023-07-25 02:13:19,712 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-07-25 02:13:19,714 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/5 (ordered; batch not supported)] ('Cabo', 'Cabo Daociolo', 45)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/5 (ordered; batch not supported)] ('Cabo', 'Cabo Daociolo', 45)

2023-07-25 02:13:19,716 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-07-25 02:13:19,719 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/5 (ordered; batch not supported)] ('Luciano', 'Hang Véio da Havan', 22)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 4/5 (ordered; batch not supported)] ('Luciano', 'Hang Véio da Havan', 22)

2023-07-25 02:13:19,721 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, fullname, age) VALUES (?, ?, ?) RETURNING id

2023-07-25 02:13:19,723 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/5 (ordered; batch not supported)] ('Kim', 'Kim Kataguiri', 24)

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 5/5 (ordered; batch not supported)] ('Kim', 'Kim Kataguiri', 24)

2023-07-25 02:13:19,726 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

## **Consultando Dados**

In [177]:
query_user = session.query(User).filter_by(name='Jair').first()

2023-07-25 02:13:19,751 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-07-25 02:13:19,757 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?

2023-07-25 02:13:19,760 INFO sqlalchemy.engine.Engine [generated in 0.00318s] ('Jair', 1, 0)

INFO:sqlalchemy.engine.Engine:[generated in 0.00318s] ('Jair', 1, 0)

In [178]:
query_user.name

'Jair'

In [179]:
query_user.fullname

'Jair Messias Bolsonaro'

In [180]:
query_user.age

22

In [181]:
for instance in session.query(User).order_by(User.id):
  print(instance.name, instance.fullname)

2023-07-25 02:13:19,808 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users ORDER BY users.id

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users ORDER BY users.id

2023-07-25 02:13:19,816 INFO sqlalchemy.engine.Engine [generated in 0.00822s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00822s] ()

Fernando Fernando Rodrigues de Santana
Jair Jair Messias Bolsonaro
Luiz Luiz Inácio Lula da Silva
Luciano Hang Véio da Havan
Kim Kim Kataguiri
Fernando Fernando Rodrigues de Santana
Jair Jair Messias Bolsonaro
Luiz Luiz Inácio Lula da Silva
Cabo Cabo Daociolo
Luciano Hang Véio da Havan
Kim Kim Kataguiri
Fernando Fernando Rodrigues de Santana
Jair Jair Messias Bolsonaro
Luiz Luiz Inácio Lula da Silva
Cabo Cabo Daociolo
Luciano Hang Véio da Havan
Kim Kim Kataguiri
Fernando Fernando Rodrigues de Santana
Jair Jair Messias Bolsonaro
Luiz Luiz Inácio Lula da Silva
Cabo Cabo Daociolo
Luciano Hang Véio da Havan
Kim Kim Kataguiri
Fernando Fernando Rodrigues
Jair Jair Messias Bolsonaro
Luiz Luiz Inácio Lula da Silva
Cabo Cabo Daociolo
Luciano Hang Véio da Havan
Kim Kim Kataguiri
Fernando Fernando Rodrigues de Santana
Jair Jair Messias Bolsonaro
Luiz Luiz Inácio Lula da Silva
Cabo Cabo Daociolo
Luciano Hang Véio da Havan
Kim Kim Kataguiri

In [182]:
for info in session.query(User.name, User.age).filter_by(name='Luiz'):
    print(info)

2023-07-25 02:13:19,832 INFO sqlalchemy.engine.Engine SELECT users.name AS users_name, users.age AS users_age
FROM users
WHERE users.name = ?

INFO:sqlalchemy.engine.Engine:SELECT users.name AS users_name, users.age AS users_age
FROM users
WHERE users.name = ?

2023-07-25 02:13:19,836 INFO sqlalchemy.engine.Engine [generated in 0.00384s] ('Luiz',)

INFO:sqlalchemy.engine.Engine:[generated in 0.00384s] ('Luiz',)

('Luiz', 13)
('Luiz', 13)
('Luiz', 13)
('Luiz', 13)
('Luiz', 13)
('Luiz', 13)

## **Modificando Dados**

In [183]:
user.fullname

'Fernando Rodrigues de Santana'

In [184]:
user.fullname = 'Fernando Rodrigues'

In [185]:
user

In [186]:
session.dirty
# histórico de dados alterados

IdentitySet([<User(name=Fernando, fullname=Fernando Rodrigues, age20)>])

In [187]:
session.commit()

2023-07-25 02:13:19,903 INFO sqlalchemy.engine.Engine UPDATE users SET fullname=? WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:UPDATE users SET fullname=? WHERE users.id = ?

2023-07-25 02:13:19,907 INFO sqlalchemy.engine.Engine [generated in 0.00397s] ('Fernando Rodrigues', 31)

INFO:sqlalchemy.engine.Engine:[generated in 0.00397s] ('Fernando Rodrigues', 31)

2023-07-25 02:13:19,910 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

## **Deletando objetos**

In [188]:
user = session.query(User).filter_by(name='Cabo').first()

2023-07-25 02:13:19,932 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-07-25 02:13:19,936 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?

2023-07-25 02:13:19,938 INFO sqlalchemy.engine.Engine [cached since 0.1816s ago] ('Cabo', 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 0.1816s ago] ('Cabo', 1, 0)

In [189]:
user

In [190]:
session.delete(user)

In [191]:
session.commit()

2023-07-25 02:13:19,967 INFO sqlalchemy.engine.Engine DELETE FROM users WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:DELETE FROM users WHERE users.id = ?

2023-07-25 02:13:19,971 INFO sqlalchemy.engine.Engine [generated in 0.00403s] (10,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00403s] (10,)

2023-07-25 02:13:19,975 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

## **Contando dados**

In [192]:
session.query(User).filter_by(name='Kim').count()
# realiza a contagem da quantidade de dados com nome 'Kim'

2023-07-25 02:13:19,998 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-07-25 02:13:20,006 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users
WHERE users.name = ?) AS anon_1

INFO:sqlalchemy.engine.Engine:SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.age AS users_age
FROM users
WHERE users.name = ?) AS anon_1

2023-07-25 02:13:20,012 INFO sqlalchemy.engine.Engine [generated in 0.00643s] ('Kim',)

INFO:sqlalchemy.engine.Engine:[generated in 0.00643s] ('Kim',)

6